#sam {
    background: #d72608;
    width: 5.2px;
    height: 5.2px;
    
    box-shadow:
    // first my pixel character starting with the red "circle"
      5px 5px  #d72608,
      -5px 5px #d72608,
      0px 10px #d72608,
// fill computer in
      -20px -5px #383838,
      -15px -5px #383838,
      -10px -5px #383838,
      -5px -5px #383838,
      0px -5px #383838,
      5px -5px #383838,
      10px -5px #383838,
      15px -5px #383838,
      -20px 0px #383838,
      -15px 0px #383838,
      -10px 0px #383838,
      -5px 0px #383838,
      5px 0px #383838,
      10px 0px #383838,
      15px 0px #383838,
      -15px 5px #383838,
      -10px 5px #383838,
      0px 5px #383838,
      10px 5px #383838,
      15px 5px #383838,
      20px 5px #383838,
      -15px 10px #383838,
      -10px 10px #383838,
      -5px 10px #383838,
      5px 10px #383838,
      10px 10px #383838,
      15px 10px #383838,
      20px 10px #383838,
      -15px 15px #383838,
      -10px 15px #383838,
      -5px 15px #383838,
      0px 15px #383838,
      5px 15px #383838,
      10px 15px #383838,
      15px 15px #383838,
      20px 15px #383838,
      -10px 20px #383838,
      -5px 20px #383838,
      0px 20px #383838,
      5px 20px #383838,
      10px 20px #383838,
      15px 20px #383838,
      20px 20px #383838,
      25px 20px #383838,
      35px 20px #383838,
      35px 25px #383838,
      //computer border next
      -25px -10px #151714,
      -20px -10px #151714,
      -15px -10px #151714,
      -10px -10px #151714,
      -5px -10px #151714,
      0px -10px #151714,
      5px -10px #151714,
      10px -10px #151714,
      15px -10px #151714,
      20px -10px #151714,
      -25px -5px #151714,
      -25px 0px #151714,
      -20px 5px #151714,
      -20px 10px #151714,
      -20px 15px #151714,
      -15px 20px #151714,
      -15px 25px #151714,
      -10px 25px #151714,
      -5px 25px #151714,
      0px 25px #151714,
      5px 25px #151714,
      10px 25px #151714,
      15px 25px #151714,
      20px 25px #151714,
      25px 25px #151714,
      30px 25px #151714,
      40px 25px #151714,
      40px 20px #151714,
      30px 20px #151714,
      25px 15px #151714,
      25px 10px #151714,
      25px 5px #151714,
      20px 0px #151714,
      20px -5px #151714,
      //hands are next
      -25px 5px #f8d0b8,
      -30px 5px #ebc5ba,
      -30px 10px #ebc5ba,
      -30px 15px #ebc5ba,
      -25px 10px #ebc5ba,
      -25px 15px #bc977e,
      -30px 0px #bc977e,
      -30px -5px #bc977e,
      35px 15px #f8d0b8,
      40px 15px #bc977e,
      45px 20px #bc977e,
      45px 30px #bc977e,
      35px 30px #ebc5ba,
      40px 30px #ebc5ba,
      45px 25px #ebc5ba,
      //time for the head
      0px -15px #ebc5ba,
      5px -15px #ebc5ba,
      0px -20px #bc977e,
      5px -20px #bc977e,
      0px -25px #ebc5ba,
      5px -25px #ebc5ba,
      -5px -25px #ebc5ba,
      5px -30px #ebc5ba,
      0px -30px #bc977e,
      -5px -30px #6c523e,
      -10px -30px #bc977e,
      -15px -30px #bc977e,
      -15px -35px #bc977e,
      -20px -35px #bc977e,
      -10px -35px #ebc5ba,
      -15px -40px #ebc5ba,
      -10px -40px #ffefe1,
      -5px -40px #ffefe1,
      -5px -35px #ffefe1,
      0px -35px #ffefe1,
      0px -40px #ffefe1,
      5px -40px #ffefe1,
      10px -40px #ffefe1,
      15px -40px #ffefe1,
      10px -30px #ffefe1,
      15px -45px #ffefe1,
      10px -25px #6c523e,
      15px -30px #6c523e,
      20px -35px #6c523e,
      15px -35px #ebc5ba,
      10px -35px #ebc5ba,
      5px -35px #bc977e,
      -10px -25px #000000,
      -15px -25px #000000,
      -20px -25px #000000,
      -20px -30px #000000,
      -25px -35px #000000,
      -30px -35px #000000,
      -35px -40px #000000,
      -30px -40px #12030a,
      -25px -40px #12030a,
      -20px -40px #000000,
      20px -40px #ebc5ba,
      25px -40px #12030a,
      30px -40px #000000,
      35px -40px #1c150f,
      25px -35px #000000,
      30px -35px #1c150f,
      20px -30px #000000,
      25px -30px #1c150f,
      -5px -20px #000000,
      -40px -45px #1c150f,
      -35px -45px #120e0a,
      -30px -45px #120e0a,
      -25px -45px #1c150f,
      -20px -45px #ebc5ba,
      -15px -45px #413123,
      -10px -45px #ffefe1,
      -5px -45px #ffefe1,
      0px -45px #ffefe1,
      5px -45px #ffefe1,
      10px -45px #413123,
      20px -45px #ebc5ba,
      25px -45px #120e0a,
      30px -45px #ebc5ba,
      35px -45px #1c150f,
      40px -45px #000000,
      -40px -50px #1c150f,
      -35px -50px #120e0a,
      -30px -50px #1c150f,
      -25px -50px #bc977e,
      -20px -50px #f8f8f8,
      -15px -50px #000000,
      -10px -50px #ebc5ba,
      -5px -50px #ffefe1,
      0px -50px #ffefe1,
      5px -50px #ebc5ba,
      10px -50px #000000,
      15px -50px #f8f8f8,
      20px -50px #bc977e,
      25px -50px #2e2218,
      30px -50px #bc977e,
      35px -50px #1c150f,
      40px -50px #1c150f,
      45px -50px #000000,
      -35px -55px #1c150f,
      -30px -55px #1c150f,
      -25px -55px #120e0a,
      -20px -55px #1c150f,
      -15px -55px #413123,
      -10px -55px #1c150f,
      -5px -55px #1c150f,
      0px -55px #1c150f,
      5px -55px #bc977e,
      10px -55px #413123,
      15px -55px #c0c0c8,
      20px -55px #6c523e,
      25px -55px #2e2218,
      30px -55px #1c150f,
      35px -55px #1c150f,
      40px -55px #120e0a,
      45px -55px #000000,
      -40px -60px #1c150f,
      -35px -60px #1c150f,
      -30px -60px #241b13,
      -25px -60px #241b13,
      -20px -60px #120e0a,
      -15px -60px #241b13,
      -10px -60px #241b13,
      -5px -60px #1c150f,
      0px -60px #241b13,
      5px -60px #ebc5ba,
      10px -60px #6c523e,
      15px -60px #bc977e,
      20px -60px #ebc5ba,
      25px -60px #2e2218,
      30px -60px #120e0a,
      35px -60px #1c150f,
      40px -60px #2e2218,
      45px -60px #120e0a,
      50px -60px #000,
      -40px -65px #1c150f,
      -35px -65px #120e0a,
      -30px -65px #241b13,
      -25px -65px #120e0a,
      -20px -65px #241b13,
      -15px -65px #241b13,
      -10px -65px #1c150f,
      -5px -65px #241b13,
      0px -65px #241b13,
      5px -65px #1c150f,
      10px -65px #ebc5ba,
      15px -65px #ebc5ba,
      20px -65px #ebc5ba,
      25px -65px #2e2218,
      30px -65px #2e2218,
      35px -65px #120e0a,
      40px -65px #413123,
      45px -65px #241b13,
      50px -65px #000000,
      -40px -70px #1c150f,
      -35px -70px #241b13,
      -30px -70px #413123,
      -25px -70px #120e0a,
      -20px -70px #413123,
      -15px -70px #120e0a,
      -10px -70px #1c150f,
      -5px -70px #413123,
      0px -70px #241b13,
      5px -70px #120e0a,
      10px -70px #ebc5ba,
      15px -70px #ebc5ba,
      20px -70px #bc977e,
      25px -70px #2e2218,
      30px -70px #2e2218,
      35px -70px #120e0a,
      40px -70px #241b13,
      45px -70px #241b13,
      50px -70px #1c150f,
      -40px -75px #1c150f,
      -35px -75px #120e0a,
      -30px -75px #241b13,
      -25px -75px #241b13,
      -20px -75px #413123,
      -15px -75px #120e0a,
      -10px -75px #120e0a,
      -5px -75px #413123,
      0px -75px #241b13,
      5px -75px #241b13,
      10px -75px #1c150f,
      15px -75px #ebc5ba,
      20px -75px #413123,
      25px -75px #2e2218,
      30px -75px #413123,
      35px -75px #241b13,
      40px -75px #241b13,
      45px -75px #241b13,
      50px -75px #1c150f,
      -35px -80px #1c150f,
      -30px -80px #241b13,
      -25px -80px #241b13,
      -20px -80px #241b13,
      -15px -80px #241b13,
      -10px -80px #120e0a,
      -5px -80px #241b13,
      0px -80px #241b13,
      5px -80px #241b13,
      10px -80px #120e0a,
      15px -80px #1c150f,
      20px -80px #2e2218,
      25px -80px #413123,
      30px -80px #241b13,
      35px -80px #241b13,
      40px -80px #241b13,
      45px -80px #1c150f,
      -30px -85px #1c150f,
      -25px -85px #1c150f,
      -20px -85px #241b13,
      -15px -85px #241b13,
      -10px -85px #241b13,
      -5px -85px #241b13,
      0px -85px #241b13,
      5px -85px #241b13,
      10px -85px #241b13,
      15px -85px #241b13,
      20px -85px #120e0a,
      25px -85px #241b13,
      30px -85px #241b13,
      35px -85px #241b13,
      40px -85px #241b13,
      45px -85px #1c150f,
      -30px -90px #120e0a,
      -25px -90px #2e2218,
      -20px -90px #1c150f,
      -15px -90px #1c150f,
      -10px -90px #120e0a,
      -5px -90px #241b13,
      0px -90px #241b13,
      5px -90px #241b13,
      10px -90px #241b13,
      15px -90px #241b13,
      20px -90px #241b13,
      25px -90px #241b13,
      30px -90px #241b13,
      35px -90px #241b13,
      40px -90px #1c150f,
      -25px -95px #120e0a,
      -20px -95px #241b13,
      -15px -95px #241b13,
      -10px -95px #241b13,
      -5px -95px #241b13,
      0px -95px #241b13,
      5px -95px #241b13,
      10px -95px #241b13,
      15px -95px #1c150f,
      20px -95px #241b13,
      25px -95px #120e0a,
      30px -95px #120e0a,
      35px -95px #1c150f,
      -20px -100px #120e0a,
      -15px -100px #120e0a,
      -10px -100px #413123,
      -5px -100px #413123,
      0px -100px #413123,
      5px -100px #1c150f,
      10px -100px #1c150f,
      15px -100px #241b13,
      20px -100px #241b13,
      25px -100px #120e0a,
      30px -100px #1c150f,
      -10px -105px #120e0a,
      -5px -105px #120e0a,
      0px -105px #120e0a,
      5px -105px #120e0a,
      10px -105px #241b13,
      15px -105px #241b13,
      20px -105px #241b13,
      25px -105px #1c150f,
      5px -110px #120e0a,
      10px -110px #241b13,
      15px -110px #241b13,
      20px -110px #241b13,
      25px -110px #1c150f,
      0px -115px #120e0a,
      5px -115px #413123,
      10px -115px #413123,
      15px -115px #120e0a,
      20px -115px #1c150f,
      0px -120px #413123,
      5px -120px #413123,
      10px -120px #1c150f,
      0px -125px #413123,
      5px -125px #120e0a,
//Onto the gray coat starting with the shoulders going down
      15px -25px #535363,
      20px -25px #59596a,
      -25px -20px #000000,
      -20px -20px #59596a,
      -15px -20px #cecece,
      -10px -20px #59596a,
      -5px -20px #000000,
      10px -20px #cecece,
      15px -20px #cecece,
      20px -20px #59596a,
      -30px -15px #4a4f5b,
      -25px -15px #4a4f5b,
      -20px -15px #a2abbc,
      -15px -15px #a2abbc,
      -10px -15px #a2abbc,
      -5px -15px #5a5a6b,
      10px -15px #5a5a6b,
      15px -15px #94949c,
      20px -15px #cecede,
      25px -15px #5a5a6b,
      30px -15px #000000,
      -40px -10px #4a4f5b,
      -35px -10px #4a4f5b,
      -30px -10px #a2abbc,
      25px -10px #5a5a6b,
      30px -10px #a2abbc,
      35px -10px #000,
      -45px -5px #4a4f5b,
      -40px -5px #a2abbc,
      -35px -5px #a2abbc,
      25px -5px #a2abbc,
      30px -5px #5a5a6b,
      35px -5px #000,
      -50px 0px #4a4f5b,
      -45px 0px #a2abbc,
      -40px 0px #a2abbc,
      -35px 0px #a2abbc,
      25px -0px #4a4f5b,
      30px -0px #5a5a6b,
      35px -0px #000,
      -50px 5px #4a4f5b,
      -45px 5px #a2abbc,
      -40px 5px #a2abbc,
      -35px 5px #4a4f5b,
      30px 5px #5a5a6b,
      35px 5px #000,
      30px 10px #5a5a6b,
      35px 10px #000,
      30px 15px #4a4f5b,
      -55px 10px #4a4f5b,
      -50px 10px #a2abbc,
      -45px 10px #a2abbc,
      -40px 10px #4a4f5b,
      -35px 10px #818798, 
      -60px 15px #4a4f5b,      
      -55px 15px #818798,
      -50px 15px #a2abbc,
      -45px 15px #63697a,
      -40px 15px #818798,
      -35px 15px #818798, 
      -60px 20px #4a4f5b,      
      -55px 20px #63697a,
      -50px 20px #63697a,
      -45px 20px #a2abbc,
      -40px 20px #818798,
      -35px 20px #818798, 
      -30px 20px #818798,
      -25px 20px #4a4f5b,
      -20px 20px #63697a,
      -65px 25px #4a4f5b, 
      -60px 25px #63697a,      
      -55px 25px #a2abbc,
      -50px 25px #a2abbc,
      -45px 25px #a2abbc,
      -40px 25px #63697a,
      -35px 25px #818798, 
      -30px 25px #4a4f5b,
      -25px 25px #000000,
      -20px 25px #63697a,
      -65px 30px #4a4f5b, 
      -60px 30px #818798,      
      -55px 30px #818798,  
      -50px 30px #a2abbc,
      -45px 30px #a2abbc,
      -40px 30px #a2abbc,
      -35px 30px #4a4f5b, 
      -65px 35px #4a4f5b, 
      -60px 35px #818798,     
      -55px 35px #818798,  
      -50px 35px #818798,  
      -45px 35px #818798,  
      -40px 35px #4a4f5b, 
      -60px 40px #4a4f5b,   
      -55px 40px #63697a,  
      -50px 40px #818798,  
      -45px 40px #4a4f5b,  
      -55px 45px #4a4f5b,  
      -50px 45px #4a4f5b,   
      -20px 30px #4a4f5b,  
      -15px 30px #818798,
      -10px 30px #a2abbc,
      -5px 30px #a2abbc,
      0px 30px #a2abbc,
      5px 30px #818798,
      10px 30px #818798,
      15px 30px #63697a,
      20px 30px #818798,
      25px 30px #818798,
      30px 30px #63697a,
      -20px 35px #000,  
      -15px 35px #818798,
      -10px 35px #818798,
      -5px 35px #818798,
      0px 35px #818798,
      5px 35px #818798,
      10px 35px #818798,
      15px 35px #63697a,
      20px 35px #818798,
      25px 35px #818798,
      30px 35px #000,
   
      -20px 40px #000,  
      -15px 40px #818798,
      -10px 40px #818798,
      -5px 40px #818798,
      0px 40px #818798,
      5px 40px #818798,
      10px 40px #818798,
      15px 40px #63697a,
      20px 40px #818798,
      25px 40px #818798,
      30px 40px #818798,
      35px 40px #4a4f5b,

      -20px 45px #000,  
      -15px 45px #818798,
      -10px 45px #818798,
      -5px 45px #818798,
      0px 45px #818798,
      5px 45px #818798,
      10px 45px #818798,
      15px 45px #63697a,
      20px 45px #818798,
      25px 45px #818798,
      30px 45px #818798,
      35px 45px #000,
      -20px 50px #000,  
      -15px 50px #818798,
      -10px 50px #818798,
      -5px 50px #818798,
      0px 50px #818798,
      5px 50px #818798,
      10px 50px #818798,
      15px 50px #818798,
      20px 50px #63697a,
      25px 50px #818798,
      30px 50px #818798,
      35px 50px #000,
      -25px 55px #000,  
      -20px 55px #63697a,
      -15px 55px #63697a,
      -10px 55px #63697a,
      -5px 55px #818798,
      0px 55px #818798,
      5px 55px #818798,
      10px 55px #818798,
      15px 55px #818798,
      20px 55px #63697a,
      25px 55px #818798,
      30px 55px #63697a,
      35px 55px #000,
      -25px 60px #000,  
      -20px 60px #a2abbc,
      -15px 60px #a2abbc,
      -10px 60px #a2abbc,
      -5px 60px #818798,
      0px 60px #818798,
      5px 60px #818798,
      10px 60px #818798,
      15px 60px #818798,
      20px 60px #63697a,
      25px 60px #818798,
      30px 60px #a2abbc,
      35px 60px #a2abbc,
      40px 60px #000,
      -25px 65px #4a4f5b,
      -20px 65px #a2abbc,
      -15px 65px #a2abbc,
      -10px 65px #a2abbc,
      -5px 65px #818798,
      0px 65px #818798,
      5px 65px #818798,
      10px 65px #818798,
      15px 65px #818798,
      20px 65px #4a4f5b,
      25px 65px #818798,
      30px 65px #a2abbc,
      35px 65px #a2abbc,
      40px 65px #000,
      -30px 70px #4a4f5b,
      -25px 70px #818798,  
      -20px 70px #616778,
      -15px 70px #616778,
      -10px 70px #616778,
      -5px 70px #818798,
      0px 70px #818798,
      5px 70px #818798,
      10px 70px #818798,
      15px 70px #4a4f5b,
      20px 70px #000,
      25px 70px #4a4f5b,
      30px 70px #616778,
      35px 70px #616778,
      40px 70px #000,
      -30px 75px #4a4f5b,
      -25px 75px #818798,  
      -20px 75px #818798,
      -15px 75px #818798,
      -10px 75px #818798,
      -5px 75px #818798,
      0px 75px #818798,
      5px 75px #818798,
      10px 75px #4a4f5b,
      15px 75px #323b3e,
      20px 75px #222a33,
      25px 75px #4a4f5b,
      30px 75px #818798,
      35px 75px #818798,
      40px 75px #818798,
      45px 75px #4a4f5b,
      -35px 80px #4a4f5b,
      -30px 80px #818798,
      -25px 80px #818798,  
      -20px 80px #818798,
      -15px 80px #818798,
      -10px 80px #818798,
      -5px 80px #818798,
      0px 80px #818798,
      5px 80px #4a4f5b,
      10px 80px #222a33,
      15px 80px #323b3e,
      20px 80px #222a33,
      25px 80px #323b3e,
      30px 80px #4a4f5b,
      35px 80px #818798,
      40px 80px #818798,
      45px 80px #4a4f5b,
      -35px 85px #4a4f5b,
      -30px 85px #818798,
      -25px 85px #818798,  
      -20px 85px #818798,
      -15px 85px #818798,
      -10px 85px #818798,
      -5px 85px #818798,
      0px 85px #4a4f5b,
      5px 85px #323b3e,
      10px 85px #222a33,
      15px 85px #323b3e,
      20px 85px #222a33,
      25px 85px #323b3e,
      30px 85px #4a4f5b,
      35px 85px #818798,
      40px 85px #818798,
      45px 85px #818798,
      50px 85px #4a4f5b,
      -40px 90px #4a4f5b,
      -35px 90px #818798,
      -30px 90px #818798,
      -25px 90px #818798,  
      -20px 90px #818798,
      -15px 90px #818798,
      -10px 90px #4a4f5b,
      -5px 90px #4a4f5b,
      0px 90px #323b3e,
      5px 90px #323b3e,
      10px 90px #222a33,
      15px 90px #000,
      20px 90px #323b3e,
      25px 90px #323b3e,
      30px 90px #323b3e,
      35px 90px #4a4f5b,
      40px 90px #818798,
      45px 90px #818798,
      50px 90px #4a4f5b,
      -40px 95px #4a4f5b,
      -35px 95px #818798,
      -30px 95px #818798,
      -25px 95px #818798,  
      -20px 95px #4a4f5b,
      -15px 95px #4a4f5b,
      -10px 95px #323b3e,
      -5px 95px #323b3e,
      0px 95px #323b3e,
      5px 95px #222a33,
      10px 95px #000,
      15px 95px #222a33,
      20px 95px #323b3e,
      25px 95px #323b3e,
      30px 95px #323b3e,
      35px 95px #323b3e,
      40px 95px #4a4f5b,
      45px 95px #818798,
      50px 95px #4a4f5b,
      -35px 100px #4a4f5b,
      -30px 100px #4a4f5b,
      -25px 100px #4a4f5b,
      -20px 100px #323b3e,
      -15px 100px #323b3e,
      -10px 100px #323b3e,
      -5px 100px #323b3e,
      0px 100px #323b3e,
      5px 100px #000,
      15px 100px #000,
      20px 100px #323b3e,
      25px 100px #323b3e,
      30px 100px #323b3e,
      35px 100px #323b3e,
      40px 100px #323b3e,
      45px 100px #4a4f5b,
//end of the torso and start of the legs
      -35px 105px #000,
      -30px 105px #222a33,
      -25px 105px #222a33,
      -20px 105px #222a33,
      -15px 105px #323b3e,
      -10px 105px #323b3e,
      -5px 105px #323b3e,
      0px 105px #000,
      15px 105px #000,
      20px 105px #323b3e,
      25px 105px #323b3e,
      30px 105px #323b3e,
      35px 105px #323b3e,
      40px 105px #323b3e,
      45px 105px #222a33,
      50px 105px #000,
      -35px 110px #000,
      -30px 110px #222a33,
      -25px 110px #222a33,
      -20px 110px #222a33,
      -15px 110px #222a33,
      -10px 110px #222a33,
      -5px 110px #000,
      20px 110px #000,
      25px 110px #222a33,
      30px 110px #323b3e,
      35px 110px #323b3e,
      40px 110px #323b3e,
      45px 110px #222a33,
      50px 110px #000,
      -40px 115px #000,
      -35px 115px #222a33,
      -30px 115px #222a33,
      -25px 115px #222a33,
      -20px 115px #222a33,
      -15px 115px #222a33,
      -10px 115px #222a33,
      -5px 115px #000,
      20px 115px #000,
      25px 115px #222a33,
      30px 115px #222a33,
      35px 115px #222a33,
      40px 115px #222a33,
      45px 115px #222a33,
      50px 115px #000,
      -40px 120px #000,
      -35px 120px #222a33,
      -30px 120px #222a33,
      -25px 120px #222a33,
      -20px 120px #222a33,
      -15px 120px #222a33,
      -10px 120px #000,
      20px 120px #000,
      25px 120px #222a33,
      30px 120px #222a33,
      35px 120px #222a33,
      40px 120px #222a33,
      45px 120px #222a33,
      50px 120px #000,
      -45px 125px #000,
      -40px 125px #222a33,
      -35px 125px #222a33,
      -30px 125px #222a33,
      -25px 125px #222a33,
      -20px 125px #222a33,
      -15px 125px #222a33,
      -10px 125px #000,
      25px 125px #000,
      30px 125px #222a33,
      35px 125px #222a33,
      40px 125px #222a33,
      45px 125px #222a33,
      50px 125px #000,
      -45px 130px #000,
      -40px 130px #222a33,
      -35px 130px #222a33,
      -30px 130px #222a33,
      -25px 130px #0e1114,
      -20px 130px #222a33,
      -15px 130px #000,
      25px 130px #000,
      30px 130px #222a33,
      35px 130px #222a33,
      40px 130px #222a33,
      45px 130px #222a33,
      50px 130px #222a33,
      55px 130px #000,
      -50px 135px #000,
      -45px 135px #222a33,
      -40px 135px #222a33,
      -35px 135px #222a33,
      -30px 135px #0e1114,
      -25px 135px #222a33,
      -20px 135px #000,
      25px 135px #000,
      30px 135px #222a33,
      35px 135px #222a33,
      40px 135px #0e1114,
      45px 135px #222a33,
      50px 135px #0e1114,
      55px 135px #000,
      -55px 140px #000,
      -50px 140px #222a33,
      -45px 140px #0e1114,
      -40px 140px #222a33,
      -35px 140px #222a33,
      -30px 140px #0e1114,
      -25px 140px #222a33,
      -20px 140px #000,
      30px 140px #000,
      35px 140px #222a33,
      40px 140px #0e1114,
      45px 140px #222a33,
      50px 140px #0e1114,
      55px 140px #000,
      -55px 145px #000,
      -50px 145px #222a33,
      -45px 145px #0e1114,
      -40px 145px #222a33,
      -35px 145px #0e1114,
      -30px 145px #222a33,
      -25px 145px #000,
      30px 145px #000,
      35px 145px #222a33,
      40px 145px #222a33,
      45px 145px #222a33,
      50px 145px #0e1114,
      55px 145px #000,
      -60px 150px #000,
      -55px 150px #222a33,
      -50px 150px #222a33,
      -45px 150px #0e1114,
      -40px 150px #222a33,
      -35px 150px #0e1114,
      -30px 150px #222a33,
      -25px 150px #000,
      30px 150px #000,
      35px 150px #222a33,
      40px 150px #222a33,
      45px 150px #222a33,
      50px 150px #222a33,
      55px 150px #000,
      -60px 155px #000,
      -55px 155px #222a33,
      -50px 155px #222a33,
      -45px 155px #222a33,
      -40px 155px #222a33,
      -35px 155px #222a33,
      -30px 155px #000,
      30px 155px #000,
      35px 155px #222a33,
      40px 155px #222a33,
      45px 155px #222a33,
      50px 155px #222a33,
      55px 155px #000,
      -65px 160px #000,
      -60px 160px #222a33,
      -55px 160px #222a33,
      -50px 160px #222a33,
      -45px 160px #222a33,
      -40px 160px #222a33,
      -35px 160px #222a33,
      -30px 160px #000,
      35px 160px #000,
      40px 160px #222a33,
      45px 160px #222a33,
      50px 160px #222a33,
      55px 160px #222a33,
      60px 160px #000,
      -65px 165px #000,
      -60px 165px #222a33,
      -55px 165px #222a33,
      -50px 165px #222a33,
      -45px 165px #222a33,
      -40px 165px #222a33,
      -35px 165px #222a33,
      -30px 165px #000,
      35px 165px #000,
      40px 165px #222a33,
      45px 165px #222a33,
      50px 165px #222a33,
      55px 165px #222a33,
      60px 165px #000,
      -65px 170px #000,
      -60px 170px #222a33,
      -55px 170px #222a33,
      -50px 170px #222a33,
      -45px 170px #222a33,
      -40px 170px #222a33,
      -35px 170px #000,
      30px 170px #000,
      35px 170px #222a33,
      40px 170px #222a33,
      45px 170px #222a33,
      50px 170px #222a33,
      55px 170px #222a33,
      60px 170px #000,
      -65px 175px #000,
      -60px 175px #222a33,
      -55px 175px #222a33,
      -50px 175px #222a33,
      -45px 175px #222a33,
      -40px 175px #000,
      30px 175px #000,
      35px 175px #222a33,
      40px 175px #222a33,
      45px 175px #222a33,
      50px 175px #222a33,
      55px 175px #222a33,
      60px 175px #222a33,
      -70px 180px #000,
      -65px 180px #222a33,
      -60px 180px #222a33,
      -55px 180px #0e1114,
      -50px 180px #0e1114,
      -45px 180px #222a33,
      -40px 180px #000,
      30px 180px #000,
      35px 180px #222a33,
      40px 180px #222a33,
      45px 180px #222a33,
      50px 180px #222a33,
      55px 180px #222a33,
      60px 180px #222a33,
      65px 180px #000,
      -70px 185px #000,
      -65px 185px #222a33,
      -60px 185px #0e1114,
      -55px 185px #222a33,
      -50px 185px #222a33,
      -45px 185px #222a33,
      -40px 185px #000,
      30px 185px #000,
      35px 185px #222a33,
      40px 185px #222a33,
      45px 185px #222a33,
      50px 185px #222a33,
      55px 185px #000,
      60px 185px #000,
      65px 185px #cecede,
      -75px 190px #000,
      -70px 190px #94949c,
      -65px 190px #0e1114,
      -60px 190px #0e1114,
      -55px 190px #222a33,
      -50px 190px #222a33,
      -45px 190px #222a33,
      -40px 190px #000,
      30px 190px #000,
      35px 190px #222a33,
      40px 190px #222a33,
      45px 190px #000,
      50px 190px #000,
      55px 190px #efefff,
      60px 190px #efefff,
      65px 190px #efefff,
      70px 190px #000,
      75px 190px #000,
      -75px 195px #000,
      -70px 195px #94949c,
      -65px 195px #cecede,
      -60px 195px #cecede,
      -55px 195px #cecede,
      -50px 195px #222a33,
      -45px 195px #000,
      35px 195px #000,
      40px 195px #cecede,
      45px 195px #cecede,
      50px 195px #cecede,
      55px 195px #efefff,
      60px 195px #efefff,
      65px 195px #efefff,
      70px 195px #efefff,
      75px 195px #efefff,
      80px 195px #000,
      -75px 200px #000,
      -70px 200px #efefff,
      -65px 200px #efefff,
      -60px 200px #efefff,
      -55px 200px #efefff,
      -50px 200px #efefff,
      -45px 200px #000,
      40px 200px #000,
      45px 200px #000,
      50px 200px #94949c,
      55px 200px #cecede,
      60px 200px #cecede,
      65px 200px #cecede,
      70px 200px #cecede,
      75px 200px #cecede,
      80px 200px #000,
      -75px 205px #000,
      -70px 205px #94949c,
      -65px 205px #cecede,
      -60px 205px #cecede,
      -55px 205px #cecede,
      -50px 205px #94949c,
      -45px 205px #000,
      50px 205px #000,
      55px 205px #000,
      60px 205px #000,
      65px 205px #000,
      70px 205px #000,
      75px 205px #000,
      -70px 210px #000,
      -65px 210px #000,
      -60px 210px #000,
      -55px 210px #000,
      -50px 210px #000;
  }
  


  #html {
    background: #000;
    width: 5.2px;
    height: 5.2px;

    box-shadow: 
    -5px 0px #000,
    -10px 0px #000,
    -15px 0px #000,
    -20px 0px #000,
    -25px 0px #000,
    -30px 0px #000,
    -35px 0px #000,
    -40px 0px #000,
    -45px 0px #000,
    -50px 0px #000,
    -55px 0px #000,
    -60px 0px #000,
    -65px 0px #000,
    5px 0px #000,
    10px 0px #000,
    15px 0px #000,
    20px 0px #000,
    25px 0px #000,
    30px 0px #000,
    35px 0px #000,
    40px 0px #000,
    45px 0px #000,
    50px 0px #000,
    55px 0px #000,
    60px 0px #000,
    65px 0px #000,
    70px 0px #000,
    0px 5px #692413,
    -5px 5px #692413,
    -10px 5px #692413,
    -15px 5px #692413,
    -20px 5px #692413,
    -25px 5px #692413,
    -30px 5px #692413,
    -35px 5px #692413,
    -40px 5px #692413,
    -45px 5px #692413,
    -50px 5px #692413,
    -55px 5px #692413,
    -60px 5px #692413,
    -65px 5px #000,
    5px 5px #692413,
    10px 5px #692413,
    15px 5px #692413,
    20px 5px #692413,
    25px 5px #692413,
    30px 5px #692413,
    35px 5px #692413,
    40px 5px #692413,
    45px 5px #692413,
    50px 5px #692413,
    55px 5px #692413,
    60px 5px #692413,
    65px 5px #692413,
    70px 5px #000,
    0px 10px #692413,
    -5px 10px #692413,
    -10px 10px #692413,
    -15px 10px #692413,
    -20px 10px #692413,
    -25px 10px #692413,
    -30px 10px #692413,
    -35px 10px #692413,
    -40px 10px #692413,
    -45px 10px #692413,
    -50px 10px #692413,
    -55px 10px #692413,
    -60px 10px #692413,
    -65px 10px #000,
    5px 10px #692413,
    10px 10px #692413,
    15px 10px #692413,
    20px 10px #692413,
    25px 10px #692413,
    30px 10px #692413,
    35px 10px #692413,
    40px 10px #692413,
    45px 10px #692413,
    50px 10px #692413,
    55px 10px #692413,
    60px 10px #692413,
    65px 10px #692413,
    70px 10px #000,
    0px 15px #a9381c,
    -5px 15px #a9381c,
    -10px 15px #a9381c,
    -15px 15px #a9381c,
    -20px 15px #a9381c,           
    -25px 15px #a9381c,
    -30px 15px #a9381c,
    -35px 15px #a9381c,
    -40px 15px #a9381c,
    -45px 15px #a9381c,
    -50px 15px #a9381c,
    -55px 15px #692413,
    -60px 15px #692413,
    -65px 15px #000,
    5px 15px #f7542b,
    10px 15px #f7542b,
    15px 15px #f7542b,
    20px 15px #f7542b,
    25px 15px #f7542b,
    30px 15px #f7542b,
    35px 15px #f7542b,
    40px 15px #f7542b,
    45px 15px #f7542b,
    50px 15px #f7542b,
    55px 15px #f7542b,
    60px 15px #692413,
    65px 15px #692413,
    70px 15px #000,
    0px 20px #a9381c,
    -5px 20px #a9381c,
    -10px 20px #a9381c,
    -15px 20px #a9381c,
    -20px 20px #a9381c,           
    -25px 20px #a9381c,
    -30px 20px #a9381c,
    -35px 20px #a9381c,
    -40px 20px #a9381c,
    -45px 20px #a9381c,
    -50px 20px #a9381c,
    -55px 20px #692413,
    -60px 20px #692413,
    -65px 20px #000,
    5px 20px #f7542b,
    10px 20px #f7542b,
    15px 20px #f7542b,
    20px 20px #f7542b,
    25px 20px #f7542b,
    30px 20px #f7542b,
    35px 20px #f7542b,
    40px 20px #f7542b,
    45px 20px #f7542b,
    50px 20px #f7542b,
    55px 20px #f7542b,
    60px 20px #692413,
    65px 20px #692413,
    70px 20px #000,

    0px 25px #a9381c,
    -5px 25px #a9381c,
    -10px 25px #a9381c,
    -15px 25px #a9381c,
    -20px 25px #a9381c,           
    -25px 25px #a9381c,
    -30px 25px #a9381c,
    -35px 25px #a9381c,
    -40px 25px #a9381c,
    -45px 25px #a9381c,
    -50px 25px #a9381c,
    -55px 25px #692413,
    -60px 25px #692413,
    -65px 25px #000,
    5px 25px #f7542b,
    10px 25px #f7542b,
    15px 25px #f7542b,
    20px 25px #f7542b,
    25px 25px #f7542b,
    30px 25px #f7542b,
    35px 25px #f7542b,
    40px 25px #f7542b,
    45px 25px #f7542b,
    50px 25px #f7542b,
    55px 25px #f7542b,
    60px 25px #692413,
    65px 25px #692413,
    70px 25px #000,

    0px 30px #d0d0d8,
    -5px 30px #d0d0d8,
    -10px 30px #d0d0d8,
    -15px 30px #d0d0d8,
    -20px 30px #d0d0d8,        
    -25px 30px #a9381c,
    -30px 30px #a9381c,
    -35px 30px #a9381c,
    -40px 30px #a9381c,
    -45px 30px #a9381c,
    -50px 30px #692413,
    -55px 30px #692413,
    -60px 30px #000,
    5px 30px #f8f8f8,
    10px 30px #f8f8f8,
    15px 30px #f8f8f8,
    20px 30px #f8f8f8,
    25px 30px #f8f8f8,
    30px 30px #f7542b,
    35px 30px #f7542b,
    40px 30px #f7542b,
    45px 30px #f7542b,
    50px 30px #f7542b,
    55px 30px #692413,
    60px 30px #692413,
    65px 30px #000,
    70px 30px #000,

    0px 35px #d0d0d8,
    -5px 35px #d0d0d8,
    -10px 35px #d0d0d8,
    -15px 35px #d0d0d8,
    -20px 35px #d0d0d8,        
    -25px 35px #a9381c,
    -30px 35px #a9381c,
    -35px 35px #a9381c,
    -40px 35px #a9381c,
    -45px 35px #a9381c,
    -50px 35px #692413,
    -55px 35px #692413,
    -60px 35px #000,
    5px 35px #f8f8f8,
    10px 35px #f8f8f8,
    15px 35px #f8f8f8,
    20px 35px #f8f8f8,
    25px 35px #f8f8f8,
    30px 35px #f7542b,
    35px 35px #f7542b,
    40px 35px #f7542b,
    45px 35px #f7542b,
    50px 35px #f7542b,
    55px 35px #692413,
    60px 35px #692413,
    65px 35px #000,

    0px 40px #d0d0d8,
    -5px 40px #d0d0d8,
    -10px 40px #d0d0d8,
    -15px 40px #d0d0d8,
    -20px 40px #d0d0d8,        
    -25px 40px #a9381c,
    -30px 40px #a9381c,
    -35px 40px #a9381c,
    -40px 40px #a9381c,
    -45px 40px #a9381c,
    -50px 40px #692413,
    -55px 40px #692413,
    -60px 40px #000,
    5px 40px #f8f8f8,
    10px 40px #f8f8f8,
    15px 40px #f8f8f8,
    20px 40px #f8f8f8,
    25px 40px #f8f8f8,
    30px 40px #f7542b,
    35px 40px #f7542b,
    40px 40px #f7542b,
    45px 40px #f7542b,
    50px 40px #f7542b,
    55px 40px #692413,
    60px 40px #692413,
    65px 40px #000,

    0px 45px #a9381c,
    -5px 45px #a9381c,
    -10px 45px #d0d0d8,
    -15px 45px #d0d0d8,
    -20px 45px #d0d0d8,        
    -25px 45px #a9381c,
    -30px 45px #a9381c,
    -35px 45px #a9381c,
    -40px 45px #a9381c,
    -45px 45px #a9381c,
    -50px 45px #692413,
    -55px 45px #692413,
    -60px 45px #000,
    5px 45px #f7542b,
    10px 45px #f7542b,
    15px 45px #f7542b,
    20px 45px #f7542b,
    25px 45px #f7542b,
    30px 45px #f7542b,
    35px 45px #f7542b,
    40px 45px #f7542b,
    45px 45px #f7542b,
    50px 45px #f7542b,
    55px 45px #692413,
    60px 45px #692413,
    65px 45px #000,

    0px 50px #a9381c,
    -5px 50px #a9381c,
    -10px 50px #d0d0d8,
    -15px 50px #d0d0d8,
    -20px 50px #d0d0d8,        
    -25px 50px #a9381c,
    -30px 50px #a9381c,
    -35px 50px #a9381c,
    -40px 50px #a9381c,
    -45px 50px #a9381c,
    -50px 50px #692413,
    -55px 50px #692413,
    -60px 50px #000,
    5px 50px #f7542b,
    10px 50px #f7542b,
    15px 50px #f7542b,
    20px 50px #f7542b,
    25px 50px #f7542b,
    30px 50px #f7542b,
    35px 50px #f7542b,
    40px 50px #f7542b,
    45px 50px #f7542b,
    50px 50px #f7542b,
    55px 50px #692413,
    60px 50px #692413,
    65px 50px #000,

    0px 55px #a9381c,
    -5px 55px #a9381c,
    -10px 55px #d0d0d8,
    -15px 55px #d0d0d8,
    -20px 55px #d0d0d8,        
    -25px 55px #a9381c,
    -30px 55px #a9381c,
    -35px 55px #a9381c,
    -40px 55px #a9381c,
    -45px 55px #a9381c,
    -50px 55px #692413,
    -55px 55px #692413,
    -60px 55px #000,
    5px 55px #f7542b,
    10px 55px #f7542b,
    15px 55px #f7542b,
    20px 55px #f7542b,
    25px 55px #f7542b,
    30px 55px #f7542b,
    35px 55px #f7542b,
    40px 55px #f7542b,
    45px 55px #f7542b,
    50px 55px #f7542b,
    55px 55px #692413,
    60px 55px #692413,
    65px 55px #000,

    0px 60px #d0d0d8,
    -5px 60px #d0d0d8,
    -10px 60px #d0d0d8,
    -15px 60px #d0d0d8,
    -20px 60px #d0d0d8,        
    -25px 60px #a9381c,
    -30px 60px #a9381c,
    -35px 60px #a9381c,
    -40px 60px #a9381c,
    -45px 60px #a9381c,
    -50px 60px #692413,
    -55px 60px #692413,
    -60px 60px #000,
    5px 60px #f8f8f8,
    10px 60px #f8f8f8,
    15px 60px #f8f8f8,
    20px 60px #f8f8f8,
    25px 60px #f8f8f8,
    30px 60px #f7542b,
    35px 60px #f7542b,
    40px 60px #f7542b,
    45px 60px #f7542b,
    50px 60px #f7542b,
    55px 60px #692413,
    60px 60px #692413,
    65px 60px #000,

    0px 65px #d0d0d8,
    -5px 65px #d0d0d8,
    -10px 65px #d0d0d8,
    -15px 65px #d0d0d8,
    -20px 65px #d0d0d8,        
    -25px 65px #a9381c,
    -30px 65px #a9381c,
    -35px 65px #a9381c,
    -40px 65px #a9381c,
    -45px 65px #a9381c,
    -50px 65px #692413,
    -55px 65px #692413,
    -60px 65px #000,
    5px 65px #f8f8f8,
    10px 65px #f8f8f8,
    15px 65px #f8f8f8,
    20px 65px #f8f8f8,
    25px 65px #f8f8f8,
    30px 65px #f7542b,
    35px 65px #f7542b,
    40px 65px #f7542b,
    45px 65px #f7542b,
    50px 65px #f7542b,
    55px 65px #692413,
    60px 65px #692413,
    65px 65px #000,

    0px 70px #d0d0d8,
    -5px 70px #d0d0d8,
    -10px 70px #d0d0d8,
    -15px 70px #d0d0d8,
    -20px 70px #d0d0d8,        
    -25px 70px #a9381c,
    -30px 70px #a9381c,
    -35px 70px #a9381c,
    -40px 70px #a9381c,
    -45px 70px #a9381c,
    -50px 70px #692413,
    -55px 70px #692413,
    -60px 70px #000,
    5px 70px #f8f8f8,
    10px 70px #f8f8f8,
    15px 70px #f8f8f8,
    20px 70px #f8f8f8,
    25px 70px #f8f8f8,
    30px 70px #f7542b,
    35px 70px #f7542b,
    40px 70px #f7542b,
    45px 70px #f7542b,
    50px 70px #f7542b,
    55px 70px #692413,
    60px 70px #692413,
    65px 70px #000,

    0px 75px #a9381c,
    -5px 75px #a9381c,
    -10px 75px #a9381c,
    -15px 75px #a9381c,
    -20px 75px #a9381c,       
    -25px 75px #a9381c,
    -30px 75px #a9381c,
    -35px 75px #a9381c,
    -40px 75px #a9381c,
    -45px 75px #a9381c,
    -50px 75px #692413,
    -55px 75px #692413,
    -60px 75px #000,
    5px 75px #f7542b,
    10px 75px #f7542b,
    15px 75px #f8f8f8,
    20px 75px #f8f8f8,
    25px 75px #f8f8f8,
    30px 75px #f7542b,
    35px 75px #f7542b,
    40px 75px #f7542b,
    45px 75px #f7542b,
    50px 75px #f7542b,
    55px 75px #692413,
    60px 75px #692413,
    65px 75px #000,

    0px 80px #a9381c,
    -5px 80px #a9381c,
    -10px 80px #a9381c,
    -15px 80px #a9381c,
    -20px 80px #a9381c,       
    -25px 80px #a9381c,
    -30px 80px #a9381c,
    -35px 80px #a9381c,
    -40px 80px #a9381c,
    -45px 80px #a9381c,
    -50px 80px #692413,
    -55px 80px #692413,
    -60px 80px #000,
    5px 80px #f7542b,
    10px 80px #f7542b,
    15px 80px #f8f8f8,
    20px 80px #f8f8f8,
    25px 80px #f8f8f8,
    30px 80px #f7542b,
    35px 80px #f7542b,
    40px 80px #f7542b,
    45px 80px #f7542b,
    50px 80px #f7542b,
    55px 80px #692413,
    60px 80px #692413,
    65px 80px #000,

    0px 85px #a9381c,
    -5px 85px #a9381c,
    -10px 85px #d0d0d8,
    -15px 85px #d0d0d8,
    -20px 85px #d0d0d8,      
    -25px 85px #a9381c,
    -30px 85px #a9381c,
    -35px 85px #a9381c,
    -40px 85px #a9381c,
    -45px 85px #a9381c,
    -50px 85px #692413,
    -55px 85px #692413,
    -60px 85px #000,
    5px 85px #f7542b,
    10px 85px #f7542b,
    15px 85px #f8f8f8,
    20px 85px #f8f8f8,
    25px 85px #f8f8f8,
    30px 85px #f7542b,
    35px 85px #f7542b,
    40px 85px #f7542b,
    45px 85px #f7542b,
    50px 85px #f7542b,
    55px 85px #692413,
    60px 85px #692413,
    65px 85px #000,

    0px 90px #a9381c,
    -5px 90px #a9381c,
    -10px 90px #d0d0d8,
    -15px 90px #d0d0d8,
    -20px 90px #d0d0d8,     
    -25px 90px #a9381c,
    -30px 90px #a9381c,
    -35px 90px #a9381c,
    -40px 90px #a9381c,
    -45px 90px #692413,
    -50px 90px #692413,
    -55px 90px #000,
    5px 90px #f7542b,
    10px 90px #f7542b,
    15px 90px #f8f8f8,
    20px 90px #f8f8f8,
    25px 90px #f8f8f8,
    30px 90px #f7542b,
    35px 90px #f7542b,
    40px 90px #f7542b,
    45px 90px #f7542b,
    50px 90px #692413,
    55px 90px #692413,
    60px 90px #000,
    65px 90px #000,
    
    0px 95px #d0d0d8,
    -5px 95px #d0d0d8,
    -10px 95px #d0d0d8,
    -15px 95px #d0d0d8,
    -20px 95px #d0d0d8,     
    -25px 95px #a9381c,
    -30px 95px #a9381c,
    -35px 95px #a9381c,
    -40px 95px #a9381c,
    -45px 95px #692413,
    -50px 95px #692413,
    -55px 95px #000,
    5px 95px #f8f8f8,
    10px 95px #f8f8f8,
    15px 95px #f8f8f8,
    20px 95px #f8f8f8,
    25px 95px #f8f8f8,
    30px 95px #f7542b,
    35px 95px #f7542b,
    40px 95px #f7542b,
    45px 95px #f7542b,
    50px 95px #692413,
    55px 95px #692413,
    60px 95px #000,

    0px 100px #d0d0d8,
    -5px 100px #d0d0d8,
    -10px 100px #d0d0d8,
    -15px 100px #d0d0d8,
    -20px 100px #d0d0d8,     
    -25px 100px #a9381c,
    -30px 100px #a9381c,
    -35px 100px #a9381c,
    -40px 100px #a9381c,
    -45px 100px #692413,
    -50px 100px #692413,
    -55px 100px #000,
    5px 100px #f8f8f8,
    10px 100px #f8f8f8,
    15px 100px #f8f8f8,
    20px 100px #f8f8f8,
    25px 100px #f8f8f8,
    30px 100px #f7542b,
    35px 100px #f7542b,
    40px 100px #f7542b,
    45px 100px #f7542b,
    50px 100px #692413,
    55px 100px #692413,
    60px 100px #000,

    0px 105px #d0d0d8,
    -5px 105px #d0d0d8,
    -10px 105px #d0d0d8,
    -15px 105px #d0d0d8,
    -20px 105px #d0d0d8,     
    -25px 105px #a9381c,
    -30px 105px #a9381c,
    -35px 105px #a9381c,
    -40px 105px #a9381c,
    -45px 105px #692413,
    -50px 105px #692413,
    -55px 105px #000,
    5px 105px #f8f8f8,
    10px 105px #f8f8f8,
    15px 105px #f8f8f8,
    20px 105px #f8f8f8,
    25px 105px #f8f8f8,
    30px 105px #f7542b,
    35px 105px #f7542b,
    40px 105px #f7542b,
    45px 105px #f7542b,
    50px 105px #692413,
    55px 105px #692413,
    60px 105px #000,

    0px 110px #a9381c,
    -5px 110px #a9381c,
    -10px 110px #a9381c,
    -15px 110px #a9381c,
    -20px 110px #a9381c,    
    -25px 110px #a9381c,
    -30px 110px #a9381c,
    -35px 110px #a9381c,
    -40px 110px #a9381c,
    -45px 110px #692413,
    -50px 110px #692413,
    -55px 110px #000,
    5px 110px #f7542b,
    10px 110px #f7542b,
    15px 110px #f7542b,
    20px 110px #f7542b,
    25px 110px #f7542b,
    30px 110px #f7542b,
    35px 110px #f7542b,
    40px 110px #f7542b,
    45px 110px #f7542b,
    50px 110px #692413,
    55px 110px #692413,
    60px 110px #000,

    0px 115px #a9381c,
    -5px 115px #a9381c,
    -10px 115px #a9381c,
    -15px 115px #a9381c,
    -20px 115px #a9381c,    
    -25px 115px #a9381c,
    -30px 115px #a9381c,
    -35px 115px #a9381c,
    -40px 115px #692413,
    -45px 115px #692413,
    -50px 115px #692413,
    -55px 115px #000,
    5px 115px #f7542b,
    10px 115px #f7542b,
    15px 115px #f7542b,
    20px 115px #f7542b,
    25px 115px #f7542b,
    30px 115px #f7542b,
    35px 115px #f7542b,
    40px 115px #f7542b,
    45px 115px #692413,
    50px 115px #692413,
    55px 115px #692413,
    60px 115px #000,

    0px 120px #a9381c,
    -5px 120px #a9381c,
    -10px 120px #a9381c,
    -15px 120px #a9381c,
    -20px 120px #a9381c,    
    -25px 120px #a9381c,
    -30px 120px #692413,
    -35px 120px #692413,
    -40px 120px #692413,
    -45px 120px #692413,
    -50px 120px #692413,
    -55px 120px #000,
    5px 120px #f7542b,
    10px 120px #f7542b,
    15px 120px #f7542b,
    20px 120px #f7542b,
    25px 120px #f7542b,
    30px 120px #f7542b,
    35px 120px #692413,
    40px 120px #692413,
    45px 120px #692413,
    50px 120px #692413,
    55px 120px #692413,
    60px 120px #000,

    0px 125px #a9381c,
    -5px 125px #a9381c,
    -10px 125px #a9381c,
    -15px 125px #a9381c,
    -20px 125px #692413,  
    -25px 125px #692413,
    -30px 125px #692413,
    -35px 125px #692413,
    -40px 125px #692413,
    -45px 125px #000,
    -50px 125px #000,
    -55px 125px #000,
    5px 125px #f7542b,
    10px 125px #f7542b,
    15px 125px #f7542b,
    20px 125px #f7542b,
    25px 125px #692413,
    30px 125px #692413,
    35px 125px #692413,
    40px 125px #692413,
    45px 125px #692413,
    50px 125px #000,
    55px 125px #000,
    60px 125px #000,

    0px 130px #a9381c,
    -5px 130px #692413,
    -10px 130px #692413,
    -15px 130px #692413,
    -20px 130px #692413,  
    -25px 130px #692413,
    -30px 130px #000,
    -35px 130px #000,
    -40px 130px #000,
    -45px 130px #000,
    5px 130px #f7542b,
    10px 130px #692413,
    15px 130px #692413,
    20px 130px #692413,
    25px 130px #692413,
    30px 130px #692413,
    35px 130px #000,
    40px 130px #000,
    45px 130px #000,
    50px 130px #000,

    0px 135px #692413,
    -5px 135px #692413,
    -10px 135px #692413,
    -15px 135px #692413,
    -20px 135px #000,
    -25px 135px #000,
    -30px 135px #000,
    5px 135px #692413,
    10px 135px #692413,
    15px 135px #692413,
    20px 135px #692413,
    25px 135px #000,
    30px 135px #000,
    35px 135px #000,

    0px 140px #692413,
    -5px 140px #000,
    -10px 140px #000,
    -15px 140px #000,
    -20px 140px #000,
    5px 140px #692413,
    10px 140px #000,
    15px 140px #000,
    20px 140px #000,
    25px 140px #000,
    0px 145px #000,
    -5px 145px #000,
    5px 145px #000,
    10px 145px #000,
  }