div {
    background: #d72608;
    width: 5.2px;
    height: 5.2px;
    
    box-shadow:
    // first my pixel character starting with the red "circle"
      5px 5px  #d72608,
      -5px 5px #d72608,
      0px 10px #d72608,
// fill computer in
      -20px -5px #383838,
      -15px -5px #383838,
      -10px -5px #383838,
      -5px -5px #383838,
      0px -5px #383838,
      5px -5px #383838,
      10px -5px #383838,
      15px -5px #383838,
      -20px 0px #383838,
      -15px 0px #383838,
      -10px 0px #383838,
      -5px 0px #383838,
      5px 0px #383838,
      10px 0px #383838,
      15px 0px #383838,
      -15px 5px #383838,
      -10px 5px #383838,
      0px 5px #383838,
      10px 5px #383838,
      15px 5px #383838,
      20px 5px #383838,
      -15px 10px #383838,
      -10px 10px #383838,
      -5px 10px #383838,
      5px 10px #383838,
      10px 10px #383838,
      15px 10px #383838,
      20px 10px #383838,
      -15px 15px #383838,
      -10px 15px #383838,
      -5px 15px #383838,
      0px 15px #383838,
      5px 15px #383838,
      10px 15px #383838,
      15px 15px #383838,
      20px 15px #383838,
      -10px 20px #383838,
      -5px 20px #383838,
      0px 20px #383838,
      5px 20px #383838,
      10px 20px #383838,
      15px 20px #383838,
      20px 20px #383838,
      25px 20px #383838,
      35px 20px #383838,
      35px 25px #383838,
      //computer border next
      -25px -10px #151714,
      -20px -10px #151714,
      -15px -10px #151714,
      -10px -10px #151714,
      -5px -10px #151714,
      0px -10px #151714,
      5px -10px #151714,
      10px -10px #151714,
      15px -10px #151714,
      20px -10px #151714,
      -25px -5px #151714,
      -25px 0px #151714,
      -20px 5px #151714,
      -20px 10px #151714,
      -20px 15px #151714,
      -15px 20px #151714,
      -15px 25px #151714,
      -10px 25px #151714,
      -5px 25px #151714,
      0px 25px #151714,
      5px 25px #151714,
      10px 25px #151714,
      15px 25px #151714,
      20px 25px #151714,
      25px 25px #151714,
      30px 25px #151714,
      40px 25px #151714,
      40px 20px #151714,
      30px 20px #151714,
      25px 15px #151714,
      25px 10px #151714,
      25px 5px #151714,
      20px 0px #151714,
      20px -5px #151714,
      //hands are next
      -25px 5px #f8d0b8,
      -30px 5px #ebc5ba,
      -30px 10px #ebc5ba,
      -30px 15px #ebc5ba,
      -25px 10px #ebc5ba,
      -25px 15px #bc977e,
      -30px 0px #bc977e,
      -30px -5px #bc977e,
      35px 15px #f8d0b8,
      40px 15px #bc977e,
      45px 20px #bc977e,
      45px 30px #bc977e,
      35px 30px #ebc5ba,
      40px 30px #ebc5ba,
      45px 25px #ebc5ba,
      //time for the head
      0px -15px #ebc5ba,
      5px -15px #ebc5ba,
      0px -20px #bc977e,
      5px -20px #bc977e,
      0px -25px #ebc5ba,
      5px -25px #ebc5ba,
      -5px -25px #ebc5ba,
      5px -30px #ebc5ba,
      0px -30px #bc977e,
      -5px -30px #6c523e,
      -10px -30px #bc977e,
      -15px -30px #bc977e,
      -15px -35px #bc977e,
      -20px -35px #bc977e,
      -10px -35px #ebc5ba,
      -15px -40px #ebc5ba,
      -10px -40px #ffefe1,
      -5px -40px #ffefe1,
      -5px -35px #ffefe1,
      0px -35px #ffefe1,
      0px -40px #ffefe1,
      5px -40px #ffefe1,
      10px -40px #ffefe1,
      15px -40px #ffefe1,
      10px -30px #ffefe1,
      15px -45px #ffefe1,
      10px -25px #6c523e,
      15px -30px #6c523e,
      20px -35px #6c523e,
      15px -35px #ebc5ba,
      10px -35px #ebc5ba,
      5px -35px #bc977e,
      -10px -25px #000000,
      -15px -25px #000000,
      -20px -25px #000000,
      -20px -30px #000000,
      -25px -35px #000000,
      -30px -35px #000000,
      -35px -40px #000000,
      -30px -40px #12030a,
      -25px -40px #12030a,
      -20px -40px #000000,
      20px -40px #ebc5ba,
      25px -40px #12030a,
      30px -40px #000000,
      35px -40px #1c150f,
      25px -35px #000000,
      30px -35px #1c150f,
      20px -30px #000000,
      25px -30px #1c150f,
      -5px -20px #000000,
      -40px -45px #1c150f,
      -35px -45px #120e0a,
      -30px -45px #120e0a,
      -25px -45px #1c150f,
      -20px -45px #ebc5ba,
      -15px -45px #413123,
      -10px -45px #ffefe1,
      -5px -45px #ffefe1,
      0px -45px #ffefe1,
      5px -45px #ffefe1,
      10px -45px #413123,
      20px -45px #ebc5ba,
      25px -45px #120e0a,
      30px -45px #ebc5ba,
      35px -45px #1c150f,
      40px -45px #000000,
      -40px -50px #1c150f,
      -35px -50px #120e0a,
      -30px -50px #1c150f,
      -25px -50px #bc977e,
      -20px -50px #f8f8f8,
      -15px -50px #000000,
      -10px -50px #ebc5ba,
      -5px -50px #ffefe1,
      0px -50px #ffefe1,
      5px -50px #ebc5ba,
      10px -50px #000000,
      15px -50px #f8f8f8,
      20px -50px #bc977e,
      25px -50px #2e2218,
      30px -50px #bc977e,
      35px -50px #1c150f,
      40px -50px #1c150f,
      45px -50px #000000,
      -35px -55px #1c150f,
      -30px -55px #1c150f,
      -25px -55px #120e0a,
      -20px -55px #1c150f,
      -15px -55px #413123,
      -10px -55px #1c150f,
      -5px -55px #1c150f,
      0px -55px #1c150f,
      5px -55px #bc977e,
      10px -55px #413123,
      15px -55px #c0c0c8,
      20px -55px #6c523e,
      25px -55px #2e2218,
      30px -55px #1c150f,
      35px -55px #1c150f,
      40px -55px #120e0a,
      45px -55px #000000,
      -40px -60px #1c150f,
      -35px -60px #1c150f,
      -30px -60px #241b13,
      -25px -60px #241b13,
      -20px -60px #120e0a,
      -15px -60px #241b13,
      -10px -60px #241b13,
      -5px -60px #1c150f,
      0px -60px #241b13,
      5px -60px #ebc5ba,
      10px -60px #6c523e,
      15px -60px #bc977e,
      20px -60px #ebc5ba,
      25px -60px #2e2218,
      30px -60px #120e0a,
      35px -60px #1c150f,
      40px -60px #2e2218,
      45px -60px #120e0a,
      50px -60px #000,
      -40px -65px #1c150f,
      -35px -65px #120e0a,
      -30px -65px #241b13,
      -25px -65px #120e0a,
      -20px -65px #241b13,
      -15px -65px #241b13,
      -10px -65px #1c150f,
      -5px -65px #241b13,
      0px -65px #241b13,
      5px -65px #1c150f,
      10px -65px #ebc5ba,
      15px -65px #ebc5ba,
      20px -65px #ebc5ba,
      25px -65px #2e2218,
      30px -65px #2e2218,
      35px -65px #120e0a,
      40px -65px #413123,
      45px -65px #241b13,
      50px -65px #000000,
      -40px -70px #1c150f,
      -35px -70px #241b13,
      -30px -70px #413123,
      -25px -70px #120e0a,
      -20px -70px #413123,
      -15px -70px #120e0a,
      -10px -70px #1c150f,
      -5px -70px #413123,
      0px -70px #241b13,
      5px -70px #120e0a,
      10px -70px #ebc5ba,
      15px -70px #ebc5ba,
      20px -70px #bc977e,
      25px -70px #2e2218,
      30px -70px #2e2218,
      35px -70px #120e0a,
      40px -70px #241b13,
      45px -70px #241b13,
      50px -70px #1c150f,
      -40px -75px #1c150f,
      -35px -75px #120e0a,
      -30px -75px #241b13,
      -25px -75px #241b13,
      -20px -75px #413123,
      -15px -75px #120e0a,
      -10px -75px #120e0a,
      -5px -75px #413123,
      0px -75px #241b13,
      5px -75px #241b13,
      10px -75px #1c150f,
      15px -75px #ebc5ba,
      20px -75px #413123,
      25px -75px #2e2218,
      30px -75px #413123,
      35px -75px #241b13,
      40px -75px #241b13,
      45px -75px #241b13,
      50px -75px #1c150f,
      -35px -80px #1c150f,
      -30px -80px #241b13,
      -25px -80px #241b13,
      -20px -80px #241b13,
      -15px -80px #241b13,
      -10px -80px #120e0a,
      -5px -80px #241b13,
      0px -80px #241b13,
      5px -80px #241b13,
      10px -80px #120e0a,
      15px -80px #1c150f,
      20px -80px #2e2218,
      25px -80px #413123,
      30px -80px #241b13,
      35px -80px #241b13,
      40px -80px #241b13,
      45px -80px #1c150f,
      -30px -85px #1c150f,
      -25px -85px #1c150f,
      -20px -85px #241b13,
      -15px -85px #241b13,
      -10px -85px #241b13,
      -5px -85px #241b13,
      0px -85px #241b13,
      5px -85px #241b13,
      10px -85px #241b13,
      15px -85px #241b13,
      20px -85px #120e0a,
      25px -85px #241b13,
      30px -85px #241b13,
      35px -85px #241b13,
      40px -85px #241b13,
      45px -85px #1c150f,
      -30px -90px #120e0a,
      -25px -90px #2e2218,
      -20px -90px #1c150f,
      -15px -90px #1c150f,
      -10px -90px #120e0a,
      -5px -90px #241b13,
      0px -90px #241b13,
      5px -90px #241b13,
      10px -90px #241b13,
      15px -90px #241b13,
      20px -90px #241b13,
      25px -90px #241b13,
      30px -90px #241b13,
      35px -90px #241b13,
      40px -90px #1c150f,
      -25px -95px #120e0a,
      -20px -95px #241b13,
      -15px -95px #241b13,
      -10px -95px #241b13,
      -5px -95px #241b13,
      0px -95px #241b13,
      5px -95px #241b13,
      10px -95px #241b13,
      15px -95px #1c150f,
      20px -95px #241b13,
      25px -95px #120e0a,
      30px -95px #120e0a,
      35px -95px #1c150f,
      -20px -100px #120e0a,
      -15px -100px #120e0a,
      -10px -100px #413123,
      -5px -100px #413123,
      0px -100px #413123,
      5px -100px #1c150f,
      10px -100px #1c150f,
      15px -100px #241b13,
      20px -100px #241b13,
      25px -100px #120e0a,
      30px -100px #1c150f,
      -10px -105px #120e0a,
      -5px -105px #120e0a,
      0px -105px #120e0a,
      5px -105px #120e0a,
      10px -105px #241b13,
      15px -105px #241b13,
      20px -105px #241b13,
      25px -105px #1c150f,
      5px -110px #120e0a,
      10px -110px #241b13,
      15px -110px #241b13,
      20px -110px #241b13,
      25px -110px #1c150f,
      0px -115px #120e0a,
      5px -115px #413123,
      10px -115px #413123,
      15px -115px #120e0a,
      20px -115px #1c150f,
      0px -120px #413123,
      5px -120px #413123,
      10px -120px #1c150f,
      0px -125px #413123,
      5px -125px #120e0a,
//Onto the gray coat starting with the shoulders going down
      15px -25px #535363,
      20px -25px #59596a,
      -25px -20px #000000,
      -20px -20px #59596a,
      -15px -20px #cecece,
      -10px -20px #59596a,
      -5px -20px #000000,
      10px -20px #cecece,
      15px -20px #cecece,
      20px -20px #59596a,

  }
  
  img{
    position: relative;
    height: 100px;
    width: 1000px;
    right: 500px;
    bottom: 250px;
  }
  
  
  html, body {
    height: 100%;
  }
  body {
    background: #0e1631;
    display: flex;
    justify-content: center;
    align-items: center;
  }