
  .wrap{
    margin: 0px auto;
    height: 721px;
    width: 100%;
    background: #0e1631;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 0;
  }


  #sam{
    display: inline-block;
    margin: 10% 10% 10% 10%;
    z-index: 2;
  }

  #html{
    position: relative;
    display: inline-block;
    margin: 10% 10% 10% 0%;
    animation: switch 6s infinite;

    opacity: 0%;
    z-index: 3;
  }

  #css{
    position: relative;
    display: inline-block;
    margin: 10% 10% 10% 0%;
    animation: switch 6s infinite;
    opacity: 0%;
    z-index: 3;
  }

.title{
  display: block;
  width: 100%;
  margin: 5% 0 0 0
}


  @keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.84693;
    }
    45% {
      opacity: 0.96019;
    }
    50% {
      opacity: 0.08594;
    }
    55% {
      opacity: 0.20313;
    }
    60% {
      opacity: 0.71988;
    }
    65% {
      opacity: 0.53455;
    }
    70% {
      opacity: 0.37288;
    }
    75% {
      opacity: 0.71428;
    }
    80% {
      opacity: 0.70419;
    }
    85% {
      opacity: 0.7003;
    }
    90% {
      opacity: 0.36108;
    }
    95% {
      opacity: 0.24387;
    }
    100% {
      opacity: 0.27861;
    }

  }

  #crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 5;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  #crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255,0,0,0.06),rgba(0,255,0,0.02),rgba(0,0,255,0.06));
    z-index: 5;
    pointer-events: none;
    background-size: 100% 3px, 4px 100%;
  }

  @keyframes switch{
    0%{right: -300px;
        transform:scale(10%);
      opacity: 70%;}
    50%{
      transform: scale(100%);
      right: 0px;
      opacity: 100%;
    }
    70%{
      right: 0px;
      opacity: 100%;
    }
    100%{right: 100%;
    opacity: 0%;}
  }
  @keyframes fall{
    15%{bottom: 0px;}
    40%{bottom: 150px;}
    70%{bottom: -20px;}
    100%{bottom: 0px;}
  }
  @keyframes appear{
    from{left: 100%; opacity: 100%;}
    to{left: 0%; opacity: 100%;}
  }

  .s1{position: relative; 
    animation: fall 2s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
  .a{position: relative; 
    animation: fall 2s;
    animation-delay: .2s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
    
  .m{position: relative; 
    animation: fall 2s;
    animation-delay: .4s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
  .u{position: relative; 
      animation: fall 2s;
      animation-delay: .6s;
      height: 50px;
      width: 50px;
      margin: 0% 1% 0% 1%;}
    
  .e{position: relative; 
    animation: fall 2s;
    animation-delay: .8s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
  .l1{position: relative; 
    animation: fall 2s;
    animation-delay: 1s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
  .l2{position: relative; 
    animation: fall 2s;
    animation-delay: 1.2s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
  .o{position: relative; 
    animation: fall 2s;
    animation-delay: 1.4s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
  .s2{position: relative; 
    animation: fall 2s;
    animation-delay: 1.6s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
  .h{position: relative; 
    animation: fall 2s;
    animation-delay: 1.8s;
    height: 50px;
    width: 50px;
    margin: 0% 1% 0% 1%;}
    
          
  